*
    margin: 0
    padding: 0
    box-sizing: border-box

html,
body
    font-family: Lato, sans-serif
    font-size: 14px
    background-color: $site-bg

body.overflow
    overflow: hidden

.site
    display: flex
    flex-direction: column
    min-height: 100vh

.site .site-content
    flex: 1

.site-content
    padding-left: $sidebar-width
    padding-top: $navbar-height

.site-content > .container-fluid:not(.not-separated)
    padding: 30px 40px

.site-content > .container-fluid.not-separated
    padding-bottom: 30px
