select, button, input, textarea
    border: 0
    background: none
    appearance: none
    resize: none
    outline: 0

a
    outline: 0
    text-decoration: none
    color: $link

ul, li, ol
    list-style: none
