<template>

<div class="row">
    <div class="col-md-12">
        <div class="row section-row align-items-end">
            <div class="col-md-4">
                <div class="form-field">
                    <label for="client" class="form-label">Cliente</label>
                    <div class="form-select">
                        <select id="client" class="form-input" v-model="company" @change="reset">
                            <option :value="null" v-if="!companies.length">Sin compañias</option>
                            <option v-for="c in companies" :value="c">{{ c.name }}</option>
                        </select>

                        <i class="fa fa-caret-down caret"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-field">
                    <label for="building" class="form-label">Edificio</label>
                    <div class="form-select">
                        <select id="building" class="form-input" v-model="branch">
                            <option :value="null" v-if="!notAssignedBranches.length">Sin edificios</option>
                            <option v-for="b in notAssignedBranches" :value="b">{{ b.name }}</option>
                        </select>

                        <i class="fa fa-caret-down caret"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-field">
                    <input type="button" class="btn btn-pri" value="Asignar" @click="assignIt">
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4" v-for="b in assigned">
        <div class="assign-client">
            <div class="client-name">
                <span>{{ b.company.name }}</span>
                <a href="" @click.prevent="unassignIt(b)"><i class="fa fa-close"></i></a>
            </div>

            <div class="building-name">
                <span>{{ b.name }}</span>
            </div>

            <input type="hidden" name="branch_ids[]" :value="b.id">
        </div>
    </div>

    <div class="col-md-12" v-if="!assigned.length">
        <div class="empty">
            <p>Sin edificios agregados.</p>
        </div>
    </div>
</div>

</template>

<script>
export default {
    props: ['companies', 'branches', 'defaults'],

    data () {
        return {
            assigned: [],
            company: null,
            branch: null,
        }
    },

    computed: {
        companyBranches () {
            if (this.company) {
                return this.branches.filter((branch) => branch.company_id === this.company.id)
            }

            return []
        },

        notAssignedBranches () {
            return this.companyBranches.filter((branch) => !this.assigned.find((a) => a.id === branch.id))
        }
    },

    methods: {
        /**
         *
         */
        init () {
            if (this.defaults && this.defaults.length) {
                this.assigned = this.defaults || []
            }

            if (this.companies.length) {
                this.company = this.companies[0]

                if (this.notAssignedBranches.length) {
                    this.branch = this.notAssignedBranches[0]
                }
            }
        },

        /**
         *
         */
        assignIt (branch) {
            if (this.branch) {                
                this.assigned.push(this.branch)
                this.reset()
            }
        },

        /**
         *
         */
        reset () {
            if (this.notAssignedBranches.length) {
                this.branch = this.notAssignedBranches[0]
                return false
            }

            this.branch = null
        },

        /**
         *
         */
        unassignIt (branch) {
            this.assigned.splice(this.assignedIndex(branch), 1)
            this.reset()
        },

        /**
         *
         */
        assignedIndex (branch) {
            return this.assigned.findIndex((a) => a.id === branch.id)
        }
    },

    mounted () {
        console.log('ASSIGN COMPANIES MOUNTED')

        this.init()
    }
}
</script>
