<template>

<div class="form-select">
    <select :style="styles" id="status" class="form-input change-status" name="status" v-model="current" @change="changeStatus">
        <option v-for="(status, key) in statuses" :value="key">{{ status }}</option>
    </select>

    <i class="fa fa-caret-down caret"></i>
</div>

</template>

<script>
import axios from 'axios'

export default {
    props: [
        'url',
        'statuses',
        'current_status'
    ],

    data () {
        return {
            current: this.current_status,
            styles: '',
        }
    },

    methods: {
        /**
         *
         */
        changeStatus () {
            this.styles = 'border: solid 1px red;'

            axios({
                method: 'PATCH',
                url: this.url,
                data: {
                    status: this.current
                }
            }).then(response => {
                console.info('W00t!')
                this.styles = ''
            })
        }
    },

    mounted () {
        console.log('CHANGE STATUS MOUNTED')
    }
}
</script>
