<template>

<div>
    <div class="card-header" v-if="title">
        <h3>{{ title }}</h3>
    </div>

    <div class="card-content">
        <div class="chart-filter" v-if="filters">
            <div class="list-btns">
                <input class="list-btn" :class="{ active: this.active === 1 }" type="button" value="1 Sem" @click="filterChart(1)">
                <input class="list-btn" :class="{ active: this.active === 2 }" type="button" value="1 Mes" @click="filterChart(2)">
                <input class="list-btn" :class="{ active: this.active === 3 }" type="button" value="6 Mes" @click="filterChart(3)">
                <input class="list-btn" :class="{ active: this.active === 4 }" type="button" value="1 Año" @click="filterChart(4)">
                <input class="list-btn" :class="{ active: this.active === 0 }" type="button" value="Todo" @click="filterChart(0)">
            </div>

            <div class="list-btns" :class="{ active: this.active === 5 }">
                <input ref="min_date"
                    type="text"
                    class="list-btn list-calendar"
                    @change="filterChartCalendar"
                    calendar="from">
                <i class="fa fa-long-arrow-right list-separator"></i>
                <input ref="max_date"
                    type="text"
                    class="list-btn list-calendar"
                    @change="filterChartCalendar"
                    calendar="to">
            </div>
        </div>

        <div class="chart-container">
            <canvas ref="chart"></canvas>
        </div>
    </div>
</div>

</template>

<script>
import ChartJs from 'chart.js'
import moment from 'moment'
import lodash from 'lodash'

/**
 * JSON Parse & Stringify
 * ----------------------
 * Do a JSON.parse(JSON.stringify(value))
 * return {Object}
 */
function jps (value) {
    return JSON.parse(JSON.stringify(value))
}

export default {
    props: [
        'entries',
        'title',
        'filters',
        'tag',
        'from',
        'to'
    ],

    data () {
        return {
            active: 0,
            chart: null,
            time: 'M'
        }
    },

    methods: {
        /**
         *
         */
        init () {
            console.log('INITIALIZING CHART')

            // Create an instance of ChartJs to update in a future.
            this.chart = new ChartJs(this.$refs.chart.getContext('2d'), {
                type: 'line',
                data: {
                    labels: [],
                    datasets: []
                },
                options: {
                    maintainAspectRatio: false,
                    tooltips: {
                        intersect: false,
                        mode: 'index'
                    },
                    scales: { xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'month',
                            displayFormats: {
                                day: 'YYYY-MM-DD',
                                month: 'YYYY-MM'
                            }
                        }
                    }], yAxes: [{ ticks: {
                        beginAtZero: true
                    }}]}
                }
            })

            // If has from and to options render with this filter.
            if (this.from && this.to) {
                this.filterChartWithDefaults(
                    this.from,
                    this.to,
                    this.entries
                )
            }

            // Does the first render of the entries.
            if (!(this.from && this.to)) {
                this.filterChart()
            }
        },

        /**
         *
         */
        filterChartWithDefaults () {
            console.log('FILTER WITH DEFAULT VALUES')
            
            // Check the difference between dates if too large set
            // the render as months render.
            let diff = moment(this.to).diff(this.from, 'months')

            this.time = 'D'

            if (diff > 2) {
                this.time = 'M'
            }

            let entries = this.filterEntries(
                moment(this.from),
                moment(this.to),
                this.filterEntriesTag(this.entries)
            )

            this.updateChart(
                this.setLabels(entries),
                this.setDataset(entries)
            )
        },

        /**
         * 
         */
        filterEntriesTag (entries) {
            let props = []
            let filter_entries = jps(entries)

            switch (this.tag) {
                case 'client.orders':
                    props = ['day', 'orders']
                    break

                case 'client.income':
                    props = ['day', 'income']
                    break
            }

            if (props.length) {
                for (let entry of filter_entries) {
                    entry.data = entry.data.map((data) => props.map((prop) => data[prop]))
                }
            }

            return filter_entries
        },

        /**
         *
         */
        setLabels (entries) {
            console.log('SET LABELS')

            let labels = []

            // Group entries depending the current filter.
            entries = this.groupEntries(entries)

            for (let entry of entries) {
                labels.push(entry.data.map((data) => data[0]))
            }

            return _.union.apply(null, labels)
        },

        /**
         *
         */
        setDataset (entries) {
            console.log('SET DATASET')

            let dataset = []

            // Group entries depending the current filter.
            entries = this.groupEntries(entries)

            for (let e of entries) {
                dataset.push({
                    label: e.name,
                    backgroundColor: e.backgroundColor || 'rgba(137, 161, 238, 0.2)',
                    pointBackgroundColor: e.borderColor || '#385be8',
                    borderColor: e.borderColor || '#385be8',
                    data: e.data.map((e) => e[1])
                })
            }

            return dataset
        },

        /**
         *
         */
        filterChartCalendar () {
            console.log('FILTER CHART CALENDAR')

            this.active = 5
            this.time = 'M'

            let entries = this.filterEntries(
                moment(this.$refs.min_date.value),
                moment(this.$refs.max_date.value),
                this.filterEntriesTag(this.entries)
            )

            this.updateChart(
                this.setLabels(entries),
                this.setDataset(entries)
            )
        },

        /**
         *
         */
        filterChart (time_id) {
            console.log('FILTER CHART')

            this.active = time_id

            if (time_id) {
                switch (time_id) {
                    // 1 week before.
                    case 1:
                        this.time = 'D'
                        this.filterDateBy(1, 'w')
                        break
                    // 1 month before.
                    case 2:
                        this.time = 'D'
                        this.filterDateBy(1, 'M')
                        break
                    // 6 months before.
                    case 3:
                        this.time = 'M'
                        this.filterDateBy(6, 'M')
                        break
                    // 1 year before.
                    case 4:
                        this.time = 'M'
                        this.filterDateBy(1, 'y')
                        break
                }
            } else {
                let entries = this.filterEntriesTag(this.entries)

                this.time = 'M'
                this.active = 0

                this.updateChart(
                    this.setLabels(entries),
                    this.setDataset(entries)
                )
            }
        },

        /**
         * 
         */
        filterDateBy (count, type) {
            let time = moment()
            let entries = this.filterEntries(
                moment(time).subtract(count, type),
                moment(time),
                this.filterEntriesTag(this.entries)
            )

            this.updateChart(
                this.setLabels(entries),
                this.setDataset(entries)
            )
        },

        /**
         * 
         */
        updateChart (labels, dataset) {
            console.log('UPDATE CHART')

            let show_by

            switch (this.time) {
                case 'M':
                    show_by = 'month'
                    break

                case 'D':
                    show_by = 'day'
                    break
            }

            this.chart.data.labels = labels
            this.chart.data.datasets = dataset
            this.chart.options.scales.xAxes[0].time.unit = show_by
            this.chart.update()
        },

        /**
         * 
         */
        groupEntries (entries) {
            console.log('GROUP ENTRIES')

            let group_entries = jps(entries)
            let group_by

            switch (this.time) {
                case 'M':
                    group_by = 'month'
                    break

                case 'D':
                    group_by = 'day'
                    break
            }

            if (group_by === 'month') {
                for (let entry of group_entries) {
                    let data = _.groupBy(entry.data, (d) => {
                        return moment(d[0], 'YYYY-MM-DD').startOf(group_by).format('YYYY-MM')
                    })

                    // Clear the current data.
                    entry.data = []

                    for (let date in data) {
                        let sum = 0

                        for (let value of data[date]) {
                            sum += Number(value[1])
                        }

                        entry.data.push([date, sum])
                    }
                }
            }

            return group_entries
        },

        /**
         * 
         */
        filterEntries (min_date, max_date, entries) {
            console.log('FILTER ENTRIES')

            let filter_entries = jps(entries)

            // Lose reference with JSON.(parse|stringify).
            for (let i in entries) {
                filter_entries[i].data = []

                for (let d of entries[i].data) {
                    if (moment(d[0]).isBetween(min_date, max_date)) {
                        filter_entries[i].data.push(d)
                    }
                }
            }

            return filter_entries
        }
    },

    mounted () {
        console.log('CHART MOUNTED')

        this.init()
    }
}
</script>
