<template>

<div class="row section-row">
    <div class="col-md-3" v-for="country in countries">
        <a href=""
            class="country-card"
            :class="{ active: selected_country.id === country.id }"
            :value="country.id"
            @click="currentCountry($event, country)"
        >
            <div class="country-card-image">
                <img :src="country.image" :alt="country.name">
            </div>

            <div class="country-card-name">
                <p>{{ country.name }}</p>
            </div>
        </a>
    </div>

    <input type="hidden" name="country_id" :value="countryValue">
</div>

</template>

<script>
export default {
    props: ['countries'],

    data () {
        return {
            selected_country: null
        }
    },

    computed: {
        /**
         *
         */
        countryValue () {
            if (this.selected_country) {
                return this.selected_country.id
            }
        }
    },

    methods: {
        /**
         *
         */
        defaultCountry () {
            if (this.countries.length) {
                this.selected_country = this.countries[0]
            }
        },

        /**
         *
         */
        currentCountry (e, country) {
            e.preventDefault()
            this.selected_country = country
        }
    },

    created () {
        console.log('COUNTRIES CREATED', this.countries)
        this.defaultCountry()
    }
}
</script>
