<template lang="pug">
ul.dropdown.dropdown-notifications
    li.dropdown-item(v-for="n of notifications")
        a.notification(:href="'/admin/orders/'+n.order.id", v-if="notificationType(n) === 'OrderPendingNotification'")
            .notification-icon
                img(src="/images/notifications/order.png", alt="Pedido")
            span.notification-detail
                p.notification-message ¡Ha llegado un nuevo pedido de 
                    strong {{ n.order.branch.company.name }} 
                    | por 
                    strong ${{ n.order.total }}
                p.notification-date {{ dateFormat(n.order.created_at) }}
        a.notification(v-if="notificationType(n) === 'BirthdayNotification'")
            .notification-icon
                img(src="/images/notifications/birthdate.png", alt="Cumpleaños")
            span.notification-detail
                p.notification-message Felicita a
                    strong {{ n.user.name }}
                    | de la empresa por que es su cumpleaños!
                p.notification-date {{ dateFormat(n.user.birthdate) }}
    li.dropdown-item(v-if="more")
        a(@click="loadNotifications()", style="text-align:center;") Cargar mas
    li.dropdown-item(v-if="!hasNotifications")
        a(style="text-align:center;") No hay mas notificaciones :)
</template>

<script>
import axios from 'axios'
import moment from 'moment'

export default {
    data () {
        return {
            notifications: [],
            more: false,
            page: 1,
        }
    },

    computed: {
        hasNotifications () {
            return this.notifications.length
        }
    },

    methods: {
        async loadNotifications () {
            const response = (await axios.get(`/admin/notifications?page=${this.page}`)).data
            const notifications = response.data
            
            for (const n of notifications) {
                this.notifications.push(n)
            }

            if (this.page < response.last_page) {
                this.more = true
            } else {
                this.more = false
            }

            this.page++
        },

        notificationType (notification) {
            const arr = notification.type.split('\\')
            return arr[arr.length - 1]
        },

        dateFormat (date) {
            return moment(date).format('dddd d MMM YYYY')
        }
    },

    mounted () {
        console.log('Notifications component mounted')
        this.loadNotifications()
    }
}
</script>
