<template>

<div class="row">
    <div class="filter-report-col">
        <div class="form-field">
            <label for="client" class="form-label">Empresa</label>
            <div class="form-select">
                <select id="client" class="form-input" name="company_id" v-model="current_company" @change="resetBranch">
                    <option :value="null" v-if="!companies.length">Sin compañias</option>
                    <option v-for="company in companies" :value="company.id">{{ company.name }}</option>
                </select>

                <i class="fa fa-caret-down caret"></i>
            </div>
        </div>
    </div>

    <div class="filter-report-col">
        <div class="form-field">
            <label for="building" class="form-label">Edificio</label>
            <div class="form-select">
                <select id="building" class="form-input" name="branch_id" v-model="current_branch">
                    <option :value="null" v-if="!companyBranches.length">Sin edificios</option>
                    <option v-show="companyBranches.length > 1" :value="'all'">Todas</option>
                    <option v-for="branch in companyBranches" :value="branch.id">{{ branch.name }}</option>
                </select>

                <i class="fa fa-caret-down caret"></i>
            </div>
        </div>
    </div>
</div>

</template>

<script>
/**
 * JSON Parse & Stringify
 * ----------------------
 * Do a JSON.parse(JSON.stringify(value))
 * return {Object}
 */
function jps (value) {
    return JSON.parse(JSON.stringify(value))
}

export default {
    props: [
        'companies',
        'branches',
        'company_id',
        'branch_id'
    ],

    data () {
        return {
            current_company: null,
            current_branch: null
        }
    },

    computed: {
        companyBranches () {
            if (this.current_company) {
                return this.branches.filter((branch) => branch.company_id === this.current_company)
            }

            return []
        }
    },

    methods: {
        /** 
         *
         */
        init () {
            if (this.company_id && this.branch_id && this.branch_id !== 'all') {
                this.current_company = this.companies.find((company) => company.id === Number(this.company_id)).id
                this.current_branch = this.branches.find((branch) => branch.id === Number(this.branch_id)).id
                return false
            }

            if (this.company_id && this.branch_id === 'all') {
                this.current_company = this.companies.find((company) => company.id === Number(this.company_id)).id
                this.current_branch = this.branch_id
                return false
            }

            if (this.companies.length) {
                this.current_company = this.companies[0].id
                
                if (this.companyBranches.length) {
                    this.current_branch = this.companyBranches[0].id
                }
                
                return false
            }
        },

        /**
         *
         */
        resetBranch () {
            if (this.companyBranches.length) {
                this.current_branch = this.companyBranches[0].id
                return false
            }

            this.current_branch = null
        }
    },

    mounted () {
        console.log('SELECT COMPANY BRANCH MOUNTED')

        this.init()
    }
}
</script>
