<template>

<div class="wrapper small">
    <div class="row companies-visibility">
        <div class="col-md-12">
            <div class="form-field">
                <label for="visible" class="form-label">Ocultar a</label>
                <div class="form-search">
                    <i class="fa fa-search icon"></i>
                    <input id="visible"
                        type="text"
                        class="form-input ignore"
                        v-model="search"
                        placeholder="Buscar Empresas"
                        autocomplete="off" 
                        @keydown.enter="addCompany($event, selected_company)"
                        @keydown.down="selectCompany"
                        @keydown.up="selectCompany"
                        @keydown.esc="clearSearch"
                        @blur="clearSearch"
                    >

                    <!-- # Autocomplete companies. -->
                    <ul class="autocomplete" v-show="show">
                        <li v-for="company in filterCompanies"
                            @mousedown="addCompany($event, company)"
                            class="autocomplete-item"
                            :class="{ active: company === selected_company }"
                        >
                            <p class="company-name">{{ company.name }}</p>
                            <p class="company-country">{{ company.country.name }}</p>
                        </li>

                        <li class="autocomplete-empty" v-show="!filterCompanies.length">
                            <p>Sin coincidencias</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="mex-company-list" v-show="showMX">
                <h4>México</h4>
                <ul class="companies">
                    <li class="company" v-for="company in selectedCompaniesMX">
                        <span>{{ company.name }}</span>
                        <a href="" @click="removeCompany($event, company)"><i class="fa fa-close"></i></a>
                        <input type="hidden" name="companies[]" :value="company.id">
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-company-list" v-show="showCO">
                <h4>Colombia</h4>
                <ul class="companies">
                    <li class="company" v-for="company in selectedCompaniesCO">
                        <span>{{ company.name }}</span>
                        <a href="" @click="removeCompany($event, company)"><i class="fa fa-close"></i></a>
                        <input type="hidden" name="companies[]" :value="company.id">
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-12" v-show="!(showMX || showCO)">
            <p class="empty">Sin empresas agrega una.</p>
        </div>
    </div>
</div>

</template>

<script>
export default {
    props: ['companies', 'default_selected_companies'],

    data () {
        return {
            search: '',
            selected_companies: [],
            autocomplete_limit: 5,
            selected_company: null
        }
    },

    computed: {
        /**
         *
         */
        show () {
            return this.search.length
        },

        /**
         * 
         */
        showMX () {
            return this.selectedCompaniesMX.length
        },

        /**
         *
         */
        showCO () {
            return this.selectedCompaniesCO.length
        },

        /**
         *
         */
        filterCompanies () {
            return this.companies.filter((company) => 
                !this.selected_companies.includes(company)
            ).filter((company) =>
                company.name.toLowerCase().includes(this.search.toLowerCase())
            ).slice(0, this.autocomplete_limit)
        },

        /**
         *
         */
        selectedCompaniesMX () {
            return this.selected_companies.filter(
                (company) => company.country.name_code === 'MX'
            )
        },

        /**
         *
         */
        selectedCompaniesCO () {
            return this.selected_companies.filter(
                (company) => company.country.name_code === 'CO'
            )
        }
    },

    methods: {
        /**
         * 
         */
        init () {
            this.defaultCompanies()
        },

        /**
         * 
         */
        selectCompany (e) {
            // Down.
            if (e.which === 40) {
                e.preventDefault()
                this.selectNext()
            }

            // Up.
            if (e.which === 38) {
                e.preventDefault()
                this.selectPrevious()
            }
        },

        /**
         *
         */
        selectedIndex () {
            return this.filterCompanies.findIndex((company) => 
                company === this.selected_company
            )
        },

        /**
         *
         */
        selectNext () {
            let i = this.selectedIndex()

            if (i !== -1 && this.filterCompanies[i + 1]) {
                this.selected_company = this.filterCompanies[i + 1]
            } else {
                this.selected_company = this.filterCompanies[0]
            }
        },

        /**
         * 
         */
        selectPrevious () {
            let i = this.selectedIndex()

            if (i !== -1 && this.filterCompanies[i - 1]) {
                this.selected_company = this.filterCompanies[i - 1]
            } else {
                this.selected_company = this.filterCompanies[this.filterCompanies.length - 1]
            }
        },

        /**
         * 
         */
        addCompany (e, company) {
            e.preventDefault()
            e.stopPropagation()

            if (company) {
                this.search = ''
                this.selected_companies.push(company)
                this.selected_company = null
            }
        },

        /**
         *
         */
        defaultCompanies () {
            console.log('SET DEFAULT COMPANIES')

            // Selected companies by default.
            this.selected_companies = this.default_selected_companies || []
        },

        /**
         * 
         */
        removeCompany (e, company) {
            e.preventDefault()

            this.selected_companies.splice(
                this.selected_companies.findIndex((selected_company) => 
                    selected_company === company
                ),
                1
            )
        },

        /**
         *
         */
        clearSearch () {
            this.search = ''
        }
    },

    mounted () {
        console.log('VISIBLE COUNTRY MOUNTED', this.companies)

        this.init()
    }
}
</script>
