<template>

<div class="ckb ckb-visible">
    <input :id="`visible-${product_id}`" type="checkbox" v-model="visible" @change="updateVisibleStatus">
    <label :style="styles" :for="`visible-${product_id}`"></label>
</div>

</template>

<script>
import axios from 'axios'

export default {
    props: ['product_id', 'product_visible', 'url'],

    data () {
        return {
            visible: this.product_visible,
            styles: ''
        }
    },

    methods: {
        /**
         *
         */
        updateVisibleStatus () {
            this.styles = 'border: 1px solid red;'
            
            axios({
                method: 'PATCH',
                url: this.url,
                data: {
                    visible: this.visible
                }
            }).then(response => {
                console.info('W00t!')
                this.styles = ''
            })
        }
    },

    mounted () {
        console.log('VISIBLE MOUNTED')
    }
}
</script>
