.actions
    display: flex
    align-items: center

    .icon
        font-size: 16px
        margin-right: 8px
        color: $action-icon

    .action
        display: flex
        align-items: center
        font-size: 13px
        letter-spacing: 0.4px
        color: $action

        &:not(:last-child)
            margin-right: 30px
