.assign-client
    color: $assign-client
    margin-bottom: 20px

    .client-name
        font-size: 13px
        font-weight: 700
        letter-spacing: 0.4px
        display: flex
        align-items: flex-start
        justify-content: space-between
        margin-bottom: 5px

    .client-name a
        color: $assign-client

    .building-name
        font-size: 12px
        letter-psacing: 0.4px
