.autocomplete
    position: absolute
    top: 100%
    left: 0
    width: 100%
    background-color: #fff
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08)
    z-index: 1

    .autocomplete-item
        padding: 5px 10px
        transition: all 100ms ease

        .company-name
            font-size: 13px
            font-weight: 700
            letter-spacing: 0.5px
            color: #627383
            margin-bottom: 5px

        .company-country
            font-size: 10px
            letter-spacing: 0.5px
            color: #bcbcbc

        &:hover,
        &.active
            background-color: #f9f9f9
            cursor: pointer

    .autocomplete-empty
        padding: 5px 10px
        font-size: 13px
        letter-spacing: 0.5px
        font-weight: 700
        color: #bcbcbc
