.btn
    display: inline-block
    box-shadow: 1px 4px 5px 0 $btn-shadow
    border-radius: $btn-br
    line-height: 40px
    height: 40px
    border: solid 1px
    padding: 0 60px
    background-color: $default
    font-size: 12px
    font-weight: 700
    letter-spacing: 0.6px
    text-transform: uppercase
    transition: all 100ms linear
    overflow: hidden
    cursor: pointer

    &:hover,
    &:focus
        opacity: 0.9

    // Pri, Duo, Tri, Tet, Pen
    &.btn-pri
        background-color: $btn-pri-bg
        border-color: $btn-pri-border
        color: $btn-pri

    &.btn-duo
        background-color: $btn-duo-bg
        border-color: $btn-duo-border
        color: $btn-duo

.list-btns
    padding: 0 7.5px
    background-color: $list-btns-bg
    border-radius: $list-btns-br
    border: solid 1px $list-btns-border
    box-shadow: 0 2px 4px 0 $list-btns-shadow
    display: flex
    align-items: center

    .list-btn
        display: inline-block
        height: 40px
        padding: 0 7.5px
        color: $list-btns
        font-size: 14px
        letter-spacing: 0.5px
        cursor: pointer

        &.active
            font-weight: 700
            color: $list-btns-active

    &.active .list-btn
        color: $list-btns-active
        font-weight: 700

    .list-calendar
        width: 92px

    .list-separator
        display: inline-block
        color: $list-btns
        margin: 0 5px
