// Overwrite some classes of flatpickr to get the wanted color.
.flatpickr-calendar.arrowTop:after,
    border-bottom-color: $calendar-theme-bg

.flatpickr-day.selected,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.selected.prevMonthDay
    border-color: $calendar-theme-bg

.flatpickr-months .flatpickr-month,
.flatpickr-month,
span.flatpickr-weekday,
.flatpickr-weekdays,
.flatpickr-day.selected,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.selected.prevMonthDay
    background-color: $calendar-theme-bg
