// Quick Summary (cards).
.quick-reports .dashboard-card
    width: 100%
    margin-right: 0

.quick-summary-cards
    width: 100%
    display: block

    @include mq ('xl')
        display: flex

    .dashboard-card:not(:last-child)
        @include mq ('xl')
            margin-right: 20px

// Card (dashboard).
.dashboard-card,
.report-card
    height: 100%
    display: flex
    flex-direction: column

    .header-tabs
        display: flex
        justify-content: space-between

    .top-products-tab
        display: flex
        font-size: 12px
        font-weight: 400
        color: #627383
        letter-spacing: 0.4px

    .products-tab
        cursor: pointer

    .products-tab.active
        font-weight: 900

    .products-tab:not(:last-child)
        margin-right: 20px

    .card-header

        h3
            font-size: 22px
            font-weight: 400
            letter-spacing: 0.7px
            color: $dashboard-card
            margin-bottom: 10px

    .card-content
        background-color: $dashboard-card-bg
        box-shadow: 0 2px 4px 0 $dashboard-card-shadow
        padding: 25px

    .card-content,
    .table
        flex: 1
        margin-bottom: 35px

    .chart-container
        height: 300px

// Card (clients).
.client-card
    @include card

    .client-card-logo
        background-color: $default
        width: 50px
        height: 50px
        margin: auto

        img
            width: 100%
            height: 100%

    .client-card-name p
        @include card-name

    .client-card-status p
        @include card-status

    .client-card-status-empty
        @include card-status-empty

// Cards (building).
.building-card
    @include card
    padding-top: 50px
    padding-bottom: 50px

    .building-card-name
        @include card-name
        margin-top: 0

    .building-card-status
        @include card-status

    .building-card-status-empty
        @include card-status-empty

// Cards (countries).
.country-card
    @include card
    padding-top: 15px
    padding-bottom: 15px
    border: solid 1px $country-card-border

    .country-card-image
        width: 28px
        height: 20px
        margin: 0 auto 5px

        img
            width: 100%
            height: 100%

    .country-card-name
        color: $country-card
        font-size: 11px
        font-weight: 700
        letter-spacing: 0.5px
        text-transform: uppercase

    &.active
        border-color: $country-card-border-active

// Cards (order).
.order-card
    @include card

    p
        font-size: 12px
        line-height: 23px
        letter-spacing: 0.2px
        color: $order-card
        text-align: left

    p:first-child
        font-size: 16px
        letter-spacing: 0.3px

// Cards (quote).
.quote-card
    @include card
    padding: 35px 0
    border: solid 1px $quote-card-border

    &.sem .quote-card-image
        @include bg-image('/images/quote/quote-01.png', no-repeat, contain)

    &.men .quote-card-image
        @include bg-image('/images/quote/quote-02.png', no-repeat, contain)

    &.oca .quote-card-image
        @include bg-image('/images/quote/quote-03.png', no-repeat, contain)

    .quote-card-image
        width: 65px
        height: 65px
        margin: 0 auto 25px

    .quote-card-name
        font-size: 16px
        font-weight: 700
        color: $quote-card

// Cards (product).
.product-card
    @include card
    border: solid 2px transparent

    .product-card-image
        width: 50%
        padding-top: 50%
        position: relative
        background-color: $default
        margin: 0 auto 15px

        img
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            object-fit: cover

    .product-card-name
        font-size: 15px
        font-weight: 700
        color: $product-card
        margin-bottom: 10px

    .product-card-description
        margin-bottom: 20px
        font-size: 10px
        letter-spacing: 0.3px
        color: $product-card

    .product-card-added
        font-size: 12px
        font-weight: 700
        letter-spacing: 1.5px
        text-transform: uppercase
        color: $success

    &.added
        border-color: $success

    &.added .product-card-added
        color: $error
