.categories-title
    font-size: 13px
    font-weight: 700
    letter-spacing: 0.6px
    text-transform: uppercase
    color: $categories
    margin-bottom: 15px

.categories-list

    .categories-item a
        display: block
        font-size: 13px
        letter-spacing: 0.4px
        color: $categories
        margin-bottom: 15px

.categories-selected
    font-size: 17px
    letter-spacing: 0.8px
    color: $categories
    margin: 30px 0 25px
