.chart-container
    overflow: hidden
    width: 100%
    height: 100%

.chart-filter
    display: flex
    align-items: center
    justify-content: flex-end

    div:not(:last-child)
        margin-right: 20px
