.ckb

    input
        width: 0.1px
        height: 0.1px
        opacity: 0
        overflow: hidden
        position: absolute
        z-index: -1

.ckb-visible

    label
        display: inline-block
        background-color: $checkbox-status-bg
        width: 40px
        height: 20px
        border-radius: $checkbox-status-br
        position: relative
        overflow: hidden
        cursor: pointer
        transition: all 100ms ease

        &:before
            position: absolute
            top: 0
            left: 0
            display: block
            content: ''
            width: 20px
            height: 20px
            border-radius: $checkbox-status-ball-br
            background-color: $checkbox-status-ball-bg
            transition: all 100ms ease

    input:checked + label
        background-color: $checkbox-status-active-bg

        &:before
            left: 100%
            margin-left: -20px
            background-color: $checkbox-status-active-ball-bg
