.checkout-summary
    padding: 40px 20px
    background-color: $checkout-summary-bg
    box-shadow: 0 2px 4px 0 $checkout-summary-shadow
    margin-top: 50px

    @include mq ('xl')
        margin-top: 0

    @media (min-width: 1500px)
        padding: 40px

    .checkout-summary-total
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 40px

        h3
            font-size: 16px
            font-weight: 700
            letter-spacing: 0.5px
            text-transform: uppercase
            color: $checkout-summary

        p
            font-size: 15px
            letter-spacing: 0.5px
            color: $checkout-summary-total

    .checkout-summary-doit
        text-align: center

        .btn
            width: 100%
            padding: 0 10px
