.client-message
    margin-top: 80px
    margin-bottom: 80px

    &.center
        text-align: center

    h3
        font-size: 20px
        font-weight: 700
        letter-spacing: 0.9px
        color: $quote-products
        margin-bottom: 20px

    p
        font-size: 13px
        letter-spacing: 0.8px
        color: $quote-products
