.client-bar
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 50px

    .form-search
        width: 200px

        @include mq ('xl')
            width: 300px

    .client-bar-left
        display: flex
        align-items: center

    .client-section
        display: none
        align-items: center
        font-size: 20px
        font-weight: 300
        letter-spacing: 0.6px
        color: $client-bar-section
        margin-left: 15px
        margin-right: 30px

        @include mq ('xl')
            display: flex

        &:before
            content: ''
            display: block
            width: 1px
            height: 30px
            background-color: $client-bar-section-bg
            margin-right: 15px

    .client-details
        display: flex
        align-items: center
    
    .client-image
        width: 50px
        height: 50px
        background-color: $default
        margin-right: 15px

        img
            width: 100%
            height: 100%
            object-fit: cover

    .client-name
        font-size: 26px
        font-weight: 400
        letter-spacing: 0.8px
        color: $client-bar
        display: none

        @include mq ('xl')
            display: block
