.companies-visibility

    h4
        font-size: 11px
        font-weight: 700
        text-transform: uppercase
        letter-spacing: 0.5px
        padding-bottom: 5px
        border-bottom: solid 1px $companies-visibility-border
        color: $companies-visibility

    .companies .company
        padding: 10px 0
        display: flex
        align-items: center
        justify-content: space-between
        font-size: 13px
        letter-spacing: 0.4px
        color: $companies-visibility

        span
            display: block
            @include truncate

    .companies .company a
        color: $companies-visibility

    [class*="col"]:not(:last-child) .companies
        margin-bottom: 10px
