.dropdown-container
    position: relative

    .dropdown
        position: absolute
        top: 100%
        right: 0
        letter-spacing: 0.4px
        box-shadow: 0 2px 4px 0 $dropdown-shadow
        background-color: $dropdown-bg
        width: 200px
        transition: all 100ms ease
        transform: translateY(20%)
        visibility: hidden
        opacity: 0

    .dropdown-item a,
    .dropdown-item input[type="submit"]
        font-size: 12px
        width: 100%
        height: 100%
        display: block
        padding: 8px 10px
        color: $dropdown
        cursor: pointer
        text-align: left

    &.expand .dropdown
        transform: translateY(0)
        visibility: visible
        opacity: 1

// Dropdown (notification).
.dropdown-notifications
    max-height: 400px
    overflow: auto

    li:not(:last-child)
        border-bottom: solid 1px #eeeff0

    a.notification
        display: flex
        padding: 15px 20px

        .notification-detail
            width: 100%
            font-size: 12px
            letter-spacing: 0.3px
            color: #627383

        .date
            font-size: 9px
            letter-spacing: 0.9px
            margin-top: 5px

    .notification-icon
        width: 20px
        margin-right: 10px
