.field
    display: inline-block

    &:not(:last-child)
        margin-right: 65px

    .field-label
        font-size: 13px
        font-weight: 900
        letter-spacing: 0.4px
        text-transform: uppercase
        color: $field-label
        margin-bottom: 10px

    .field-value
        font-size: 20px
        letter-spacing: 0.6px
        color: $field-value
