.filter-bar
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 20px

    .form-field
        margin-bottom: 0

.filter-report-bar
    box-shadow: 0 2px 4px 0 $filter-report-bar-shadow
    background-color: $filter-report-bar-bg
    padding: 10px 20px
    margin-bottom: 15px

    .form-field
        margin-bottom: 0

    .filter-title
        font-size: 10px
        font-weight: 700
        text-transform: uppercase
        letter-spacing: 0.3px
        line-height: 40px
        color: $filter-report-bar-title
        @include truncate

    .filter-report-col:not([type="hidden"])
        width: 15.5%
        padding: 0 15px

        &:first-child
            width: 14%

            @include mq ('xl')
                width: 10%

        &:last-child
            width: 15%

            @include mq ('xl')
                width: 12.5%

    &.client-report .filter-report-col:last-child
        margin-left: 23%
        padding-right: 0

        @include mq ('xl')
            margin-left: 30%

    .multiple-filter-report-col
        width: 30%
        padding: 0 15px

        .filter-report-col
            width: 50% !important
            margin: 0 !important

    &.admin-report .filter-report-col:last-child
        margin-left: 9%
        padding-right: 0

        @include mq ('xl')
            margin-left: 15.5%
