.footbar
    width: 100%
    background-color: $save-bar-bg
    display: flex
    align-items: center
    justify-content: flex-end
    padding: 20px 40px 20px $sidebar-width + 40px

    .products-count
        margin-right: 30px
        letter-spacing: 0.6px
