// Form (row).
form .section-row
    margin-bottom: 45px

// Form Section.
.form-section
    font-size: 18px
    font-weight: 700
    letter-spacing: 0.8px
    color: $form-section
    margin-bottom: 20px
    margin-top: 60px

// Form Field.
.form-field
    margin-bottom: 15px

    .form-label
        display: block
        font-size: 11px
        font-weight: 700
        letter-spacing: 0.5px
        color: $form-label
        margin-bottom: 10px
        text-transform: uppercase

    .form-input
        @include input

        &.change-status
            text-transform: capitalize

    textarea.form-input
        font-family: Lato, sans-serif
        padding-top: 10px
        padding-bottom: 10px
        min-height: 150px

    .btn
        width: 100%
        padding-left: 0
        padding-right: 0
        text-align: center

// Form Field (image).
.form-field-image

    input
        position: absolute
        width: 0.1px
        height: 0.1px
        overflow: hidden
        z-index: -1
        opacity: 0

        &:focus + .form-file
            border-color: $form-file-border-focus
            box-shadow: 0 0 2px 2px $form-file-shadow-focus

    .form-file
        display: block
        width: 150px
        height: 150px
        border-radius: $form-file-br
        background-color: $form-file-bg
        border: solid 1px $form-file-border
        overflow: hidden
        display: flex
        align-items: center
        justify-content: center
        cursor: pointer
        position: relative
        transition: all 100ms ease

        &:hover
            border-color: $form-file-border-focus
            box-shadow: 0 0 2px 2px $form-file-shadow-focus

        .form-file-message
            color: $form-file
            font-size: 13px
            letter-spacing: 0.4px

        span
            text-align: center
            display: block
            position: relative
            z-index: 1

        span:not(:last-child)
            margin-bottom: 5px

        img
            top: 0
            left: 0
            width: 100%
            height: 100%
            object-fit: cover
            position: absolute

        &.not-rounded
            border-radius: 0

// Form Select.
.form-select
    position: relative
    display: flex
    align-items: center
    background-color: $form-input-bg

    select.form-input
        background: none
        position: relative
        padding-right: 35px
        z-index: 1

    .caret
        position: absolute
        right: 15px
        color: $form-select

// Form Field (search).
.form-search
    position: relative

    .form-input
        @include input
        padding-left: 40px

    .icon
        color: $form-icon
        position: absolute
        line-height: 40px
        padding: 0 15px
        top: 0
        left: 0

// Form Field (inline).
.form-field-inline
    display: flex
    align-items: center
    justify-content: flex-end

    .form-label
        margin-bottom: 0
        margin-right: 10px

// Form Increment.
.form-increment
    position: relative
    display: flex
    align-items: center
    width: 100px
    max-width: 100%

    input
        @include input
        padding: 0 35px
        text-align: center
        border: 0

    .less,
    .more
        position: absolute
        border-radius: 50%
        background-color: #1c57a2
        color: #fff
        width: 25px
        height: 25px
        display: flex
        align-items: center
        justify-content: center
        cursor: pointer

    .less
        left: 5px

    .more
        right: 5px

// Form (radio).
.form-radio

    input[type="radio"]
        width: 0.1px
        height: 0.1px
        overflow: hidden
        opacity: 0
        position: absolute
        z-index: -1

    label:before
        content: ''
        display: block
        width: 15px
        height: 15px
        border-radius: $form-radio-br
        border: solid 1px $form-radio-border
        margin-right: 5px
        transition: all 100ms ease

    label
        font-size: 13px
        letter-spacing: 0.4px
        color: $form-radio
        display: flex
        align-items: center

    input[type="radio"]:checked + label:before
        background-color: $form-radio-bg-active
