.link-account
    position: fixed
    width: 100%
    height: 100%
    background-color: $link-account-bg
    display: flex
    flex-direction: column
    overflow-y: auto
    color: $link-account

    .container-fluid
        margin: auto

    form
        padding-top: 30px
        max-width: 300px

    img
        width: 150px
        height: 150px
        margin-bottom: 60px

    h1
        font-size: 30px
        letter-spacing: 0.9px
        font-weight: 700
        margin-bottom: 30px

    p
        font-size: 16px
        letter-spacing: 0.5px
        margin-bottom: 10px

    .form-field
        margin-top: 40px
        margin-bottom: 30px

    .form-field .btn
        width: initial
        padding: 0 40px

    .link-account-banner
        position: fixed
        top: 0
        right: 0
        width: 50%
        height: 100%
        background-color: $default
        @include bg-image('/images/banners/login.png')
