.lr-section

    .lr-banner
        position: fixed
        top: 0
        left: 0
        width: 58.3333%
        height: 100%
        background-color: $default
        @include bg-image('/images/banners/login.png')

    .logo
        width: 150px
        height: 150px
        margin: 0 auto 20px

        img
            width: 100%
            height: 100%

    form
        width: 300px
        padding-top: 150px
        padding-bottom: 50px
        margin: 0 auto

    .form-field
        margin-bottom: 30px

    .welcome
        color: $lr-welcome
        text-align: center
        font-size: 25px
        font-weight: 700
        margin-bottom: 10px
        letter-spacing: 0.8px

    .welcome-legend
        color: $lr-welcome
        text-align: center
        font-size: 18px
        font-weight: 500
        margin-bottom: 80px
        letter-spacing: 0.8px

    form [class*="col"]:last-child
        text-align: center

    .lr-form
        overflow-y: auto
        background-color: $lr-bg
        position: fixed
        top: 0
        left: 0
        bottom: 0
        width: 41.6666%
        margin-left: 58.3333%
