.map
    width: 70%
    padding-bottom: 50% !important
    margin: auto

    .popup-template
        color: #fff
        background-color: rgba(0, 0, 0, 0.8)
        border-radius: 5px
        font-size: 12px
        padding: 5px

.map.client
    width: 100%
    padding-bottom: 75% !important
