.menu-points
    width: 20px
    height: 20px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-left: auto
    cursor: pointer
    position: relative

    .point
        width: 4px
        height: 4px
        background-color: $menu-points-bg
        border-radius: $menu-points-br

    .point:not(:last-child)
        margin-bottom: 2px

    .menu-points-dropdown
        padding: 5px 0
        position: absolute
        top: 100%
        right: 100%
        background-color: #fff
        border: solid 1px #e5e5e5
        transform: translateY(20%)
        opacity: 0
        visibility: hidden
        transition: all 100ms ease

        &.show
            opacity: 1
            visibility: visible
            transform: translateY(0)

        .menu-action
            font-size: 13px
            letter-spacing: 0.3px
            color: #627383
            display: block
            text-align: left
            padding: 5px 20px
            cursor: pointer
