.modal-umbrella
    background-color: $modal-umbrella-bg
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: 0
    visibility: hidden
    transition: all 200ms ease
    padding: 30px 0
    display: flex
    flex-direction: column
    z-index: 2

    &.overflow
        overflow-y: scroll

    &.show
        visibility: visible
        opacity: 1

    .modal
        width: 500px
        background-color: $modal-bg
        border-radius: $modal-br
        box-shadow: 0 4px 9px 0 $modal-shadow
        padding: 30px
        margin: auto
        transform: translateY(20%)
        transition: all 200ms ease

        &.active
            transform: translateY(0)

    [class*="col"]:last-child
        text-align: center

    .modal-header
        display: flex
        align-items: flex-start
        justify-content: space-between

    .modal-close
        font-size: 15px
        color: $modal-close

    .form-section
        margin-top: 0

    .form-field-image
        margin-bottom: 30px
