.navbar
    display: flex
    align-items: center
    justify-content: space-between
    background-color: #fff
    box-shadow: 0 2px 4px 0 $navbar-shadow
    padding-left: $sidebar-width + 40px
    padding-right: 40px
    height: $navbar-height
    width: 100%
    position: fixed
    top: 0
    left: 0
    z-index: 2

    h2
        font-size: 20px
        font-weight: 400
        letter-spacing: 0.6px
        color: $navbar-section
        line-height: 60px
        display: flex
        align-items: center

        a
            display: block
            color: $navbar-section
            margin-right: 10px
            margin-top: 3px

    .navbar-menu
        display: flex

    .navbar-menu .navbar-menu-item > a
        font-size: 13px
        letter-spacing: 0.4px
        // display: block
        display: flex
        align-items: center
        height: 60px
        line-height: 60px
        color: $navbar-menu

    .navbar-menu-item > a.navbar-notifications
        padding: 0 40px
        height: 60px
        display: flex
        align-items: center

        .alarm
            width: 18px
            height: 18px
            position: relative
            @include bg-image('/images/navbar/notifications.png', no-repeat, contain)

        .has-notifications
            position: absolute
            top: -5px
            right: -5px
            width: 14px
            height: 14px
            background-color: $navbar-notification-bg
            border-radius: $navbar-notification-br

    .navbar-menu a.navbar-user
        display: flex
        align-items: center

        span
            margin: 0 10px

    .navbar-user-image
        width: 30px
        height: 30px
        border-radius: $navbar-br
        background-color: $default
        overflow: hidden
        position: relative

        img
            display: block
            width: 100%
            height: 100%
            object-fit: cover

    .form-field
        margin-bottom: 0

    .form-field .form-input
        border: 0

    .navbar-building
        margin-right: 20px
