.pagination
    display: flex
    justify-content: flex-end
    align-items: center

    li:first-child,
    li:last-child
        border: solid 1px $pagination

    li
        width: 25px
        height: 25px

    li a, li span
        display: block
        text-align: center
        line-height: 23px
        color: $pagination

    li.active a, li.active span
        color: $pagination-active
        font-weight: 700

    li.disabled
        opacity: 0.2
