.v-preloading-complete
    display: none

.v-preloading
    display: flex
    align-items: center
    justify-content: center

    &:before
        font-size: 13px
        font-weight: 700
        letter-spacing: 0.5px
        text-transform: uppercase
        color: #627383
        content: 'Cargando'
        display: block

.preloading-countries
    justify-content: flex-start
    margin-bottom: 129px

// Preloading (chart).
.preloading-chart
    @include preloading-chart

.preloading-chart-reports
    @include preloading-chart
    height: 350px

.preloading-status
    height: 40px

.preloading-top-products
    height: 100%
