.quote-service

    .service-days
        display: flex
        align-items: center

    .service-day label
        display: block
        background-color: #fff
        border: solid 1px #e5e6eb
        box-shadow: 0 2px 4px 0 rgba
        color: #bcbcbc
        font-size: 13px
        letter-spacing: 0.4px
        border-radius: 3px
        padding: 10px
        transition: all 100ms ease
        cursor: pointer

    .service-day:not(:last-child) label
        margin-right: 10px

    .service-day input[type="checkbox"]:checked + label,
    .service-day input[type="radio"]:checked + label
        background-color: #1c57a2
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08)
        color: #fff

    .service-day input[type="checkbox"],
    .service-day input[type="radio"]
        width: 0.1px
        height: 0.1px
        overflow: hidden
        opacity: 0
        position: absolute
        z-index: -1
