.save-bar
    width: 100%
    padding: 20px
    background-color: $save-bar-bg
    margin-bottom: 20px
    display: flex
    align-items: center
    justify-content: flex-end

    .btn:not(:last-child)
        margin-right: 10px
