.sidebar
    width: $sidebar-width
    padding-top: 20px
    padding-bottom: 20px
    background-color: $sidebar-bg
    border-right: solid 1px $sidebar-border
    position: fixed
    overflow-y: auto
    top: 0
    bottom: 0
    left: 0
    z-index: 2

    .logo
        width: 110px
        height: 110px
        margin: 0 auto 20px

        img
            width: 100%
            height: 100%

    .sidebar-menu

        .sidebar-menu-item a
            display: flex
            align-items: center
            justify-content: space-between
            box-shadow: inset 2px 0 0 0 $sidebar-item-border
            color: $sidebar-item
            height: 40px
            margin-bottom: 10px
            transition: all 100ms ease

            span
                font-size: 16px
                letter-spacing: 0.3px

        .sidebar-menu-item .sidebar-link
            display: flex
            align-items: center

        .sidebar-menu-item .sidebar-link .icon
            display: block
            width: 20px
            height: 20px
            margin-left: 25px
            margin-right: 25px

        .sidebar-menu-item .notifications
            font-size: 9px
            font-weight: 700
            letter-spacing: 0.2px
            margin-right: 10px
            background-color: $sidebar-notifications-bg
            border-radius: $sidebar-notifications-br
            color: $sidebar-notifications
            padding: 2px 10px

        .sidebar-menu-item .icon:before,
        .sidebar-menu-item .icon:after
            display: block
            content: ''
            width: 20px
            height: 20px

        .sidebar-menu-item .icon
            position: relative

        .sidebar-menu-item .icon:after
            transition: all 100ms ease
            position: absolute
            opacity: 0
            top: 0
            left: 0

        .sidebar-menu-item .orders .icon:before
            @include bg-image('/images/sidebar/i01.png', no-repeat, initial)

        .sidebar-menu-item .reports .icon:before
            @include bg-image('/images/sidebar/i02.png', no-repeat, initial)

        .sidebar-menu-item .dashboard .icon:before
            @include bg-image('/images/sidebar/i03.png', no-repeat, initial)

        .sidebar-menu-item .employees .icon:before
            @include bg-image('/images/sidebar/i04.png', no-repeat, initial)

        .sidebar-menu-item .products .icon:before
            @include bg-image('/images/sidebar/i05.png', no-repeat, initial)

        .sidebar-menu-item .clients .icon:before
            @include bg-image('/images/sidebar/i06.png', no-repeat, initial)

        .sidebar-menu-item .services .icon:before
            @include bg-image('/images/sidebar/i07.png', no-repeat, initial)

        .sidebar-menu-item .company .icon:before
            @include bg-image('/images/sidebar/i08.png', no-repeat, initial)

        .sidebar-menu-item .orders .icon:after
            @include bg-image('/images/sidebar/i01-a.png', no-repeat, initial)

        .sidebar-menu-item .reports .icon:after
            @include bg-image('/images/sidebar/i02-a.png', no-repeat, initial)

        .sidebar-menu-item .dashboard .icon:after
            @include bg-image('/images/sidebar/i03-a.png', no-repeat, initial)

        .sidebar-menu-item .employees .icon:after
            @include bg-image('/images/sidebar/i04-a.png', no-repeat, initial)

        .sidebar-menu-item .products .icon:after
            @include bg-image('/images/sidebar/i05-a.png', no-repeat, initial)

        .sidebar-menu-item .clients .icon:after
            @include bg-image('/images/sidebar/i06-a.png', no-repeat, initial)

        .sidebar-menu-item .services .icon:after
            @include bg-image('/images/sidebar/i07-a.png', no-repeat, initial)

        .sidebar-menu-item .company .icon:after
            @include bg-image('/images/sidebar/i08-a.png', no-repeat, initial)

        .sidebar-menu-item a.active,
        .sidebar-menu-item a:hover,
        .sidebar-menu-item a:focus
            box-shadow: inset 2px 0 0 0 $sidebar-item-border-active
            color: $sidebar-item-active

            .icon:after
                opacity: 1

