.status-tag
    display: inline-block
    padding: 5px 15px
    font-size: 13px
    text-transform: capitalize
    border-radius: $status-br
    letter-spacing: 0.4px
    color: $status

    &.pending
        background-color: $status-pending

    &.payed
        background-color: $status-payed

    &.delivered
        background-color: $status-delivered

    &.new
        background-color: $status-new

    &.canceled
        background-color: $status-canceled

    &.completed
        background-color: $status-completed

