.table
    padding: 30px
    background-color: $table-bg
    box-shadow: 0 2px 4px 0 $table-shadow

    .table-empty
        @include empty

    table
        width: 100%
        border-collapse: collapse
        table-layout: fixed

    th
        text-align: left
        font-size: 12px
        font-weight: 700
        letter-spacing: 0.4px
        color: $table-head
        padding: 10px 0
        @include truncate

    td
        font-size: 13px
        letter-spacing: 0.4px
        padding: 10px 0
        color: $table-body
        @include truncate

    tr:not(:last-child) td
        border-bottom: solid 1px $table-border

    td:not(:first-child),
    th:not(:first-child)
        padding-left: 3px

    td:not(:last-child),
    th:not(:last-child)
        padding-right: 3px

    // User Image.
    .user
        display: flex
        align-items: center

    .user-image
        width: 50px
        height: 50px
        min-width: 50px
        margin-right: 20px
        border-radius: $table-user-image-br
        display: flex
        align-items: center
        justify-content: center
        overflow: hidden

        p
            color: $table-user-image
            font-size: 20px
            font-weight: 700
            letter-spacing: 0.6px

        img
            width: 100%
            height: 100%
            object-fit: cover

    .user-name
        width: 100%
        max-width: 100%

    .user-name
        font-size: 16px
        font-weight: 700
        letter-spacing: 0.5px
        @include truncate

    // Product Image.
    .product-image
        width: 40px
        height: 40px
        background-color: $default

        img
            width: 100%
            height: 100%
            object-fit: cover

    // Col (action).
    .col-actions
        overflow: visible

// Table (building orders).
.table-building-orders,
.table-history

    .col-id,
    .col-date,
    .col-status
        width: 26.6666%

        @include mq ('xl')
            width: 20%

    .col-author
        width: 20%

        @include mq ('xl')
            width: 40%

    @include table-w-links

// Table (building members).
.table-building-members,
.table-staff

    .col-user,
    .col-actions
        width: 30%

    .col-rol
        text-transform: capitalize
        width: 40%

    .col-user
        max-width: 1px

    .col-actions
        text-align: right

// Table (orders).
.table-orders,
.table-report-orders

    .col-id
        width: 5%

    .col-date,
    .col-status,
    .col-author,
    .col-company,
    .col-branch
        width: 19%

    @include table-w-links

// Table (orders client).
.table-orders-client

    .col-id,
    .col-date,
    .col-status,
    .col-author
        width: 25%

    @include table-w-links

// Table (order detail).
.table-order-detail

    .col-image,
    .col-total
        width: 10%

        @include mq ('xl')
            width: 5%

    .col-quantity
        width: 10%

    .col-product,
    .col-description
        width: 15%

    .col-category
        width: 20%

        @include mq ('xl')
            width: 30%

    .col-unit-price
        width: 20%

    .col-subtotal:first-child,
    .col-iva:first-child,
    .col-total-all:first-child
        font-size: 11px
        font-weight: 700
        text-transform: uppercase
        letter-spacing: 0.5px
        text-align: right
        padding-right: 10%
        color: $table-order-detail
        height: 60px

// Table (products).
.table-products

    .col-image
        width: 10%

        @include mq ('xl')
            width: 5%

    .col-product,
    .col-category
        width: 15%

    .col-description
        width: 20%

        @include mq ('xl')
            width: 30%

    .col-unit-price
        width: 15%

    .col-visible
        width: 10%

        @include mq ('xl')
            width: 5%

// Table (members).
.table-members

    .col-user,
    .col-actions
        width: 30%

    .col-companies
        width: 40%

    .col-user
        max-width: 1px

    .col-actions
        text-align: right

    thead .col-user
        padding-left: 70px

    th
        text-transform: uppercase

// Table (top products).
.table-top-products

    .col-id
        width: 10%

    .col-image
        width: 15%

    .col-name
        width: 75%

// Table (countries).
.table-countries
    box-shadow: none

    .col-id
        width: 10%

    .col-country
        width: 30%

    .col-orders
        width: 40%

    .col-total
        width: 20%

// Table (checkout).
.table-checkout

    .col-image,
    .col-total
        width: 10%

    .col-remove
        width: 5%

    .col-name
        width: 20%

    .col-description
        width: 25%

    .col-quantity,
    .col-unit-price
        width: 20%

    .col-remove
        text-align: right

    .col-name
        font-size: 15px
        font-weight: 700
        margin-right: 30px

    .col-description
        font-size: 10px
        letter-spacing: 0.3px

    .product
        color: $table-body
