.tabs
    display: flex
    align-items: center
    padding: 0 60px

    .tab-item, .tab-item a
        font-size: 10px
        letter-spacing: 0.5px
        color: $tab
        padding: 15px 0
        cursor: pointer
        text-transform: uppercase

    .tab-item:not(:last-child)
        margin-right: 15px

        @include mq ('xl')
            margin-right: 30px

    .tab-item.active, .tab-item.active a
        font-weight: 900

    &.md
        padding: 0 30px

    &.sm
        padding: 0 15px

.tab-wrapper
    display: none
