@mixin mq ($mq)
  @if map-has-key ($breakpoints, $mq)
    @media (min-width: map-get($breakpoints, $mq))
      @content

// Images.
@mixin bg-image ($url, $repeat: no-repeat, $size: cover, $position: center)
    background-image: url($url)
    background-repeat: $repeat
    background-size: $size
    background-position: $position

// Empty (message).
@mixin empty
    font-size: 12px
    letter-spacing: 0.5px
    text-transform: uppercase
    font-weight: 700
    color: $table-empty

// Text.
@mixin truncate
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

// Inputs.
@mixin input
    font-size: 13px
    letter-spacing: 0.4px
    background-color: $form-input-bg
    border: solid 1px $form-input-border
    border-radius: $form-input-br
    height: 40px
    width: 100%
    padding: 0 14px
    transition: all 100ms linear

    &:focus
        border-color: $form-input-border-focus
        box-shadow: 0 0 2px 2px $form-input-shadow-focus

// Cards.
@mixin card
    display: block
    box-shadow: 0 2px 4px 0 $card-shadow
    background-color: $card-bg
    border-radius: $card-br
    padding: 20px
    text-align: center
    margin-bottom: 30px

@mixin card-name
    color: $card
    font-size: 16px
    font-weight: 700
    margin: 10px 0 5px
    @include truncate

@mixin card-status
    color: $card-w-status
    font-size: 11px
    letter-spacing: 0.3px
    @include truncate

@mixin card-status-empty
    color: $card-wo-status
    font-size: 11px
    letter-spacing: 0.3px
    @include truncate

@mixin table-w-links
    td
        padding: 0 !important

        a
            display: block
            padding: 10px 0

        > a
            color: $table-body

    tr:hover td
        background-color: $table-order-hover-bg

    td:not(.col-status) a
        line-height: 26px

    td:not(:first-child) a,
    th:not(:first-child) a
        padding-left: 3px

    td:not(:last-child) a,
    th:not(:last-child) a
        padding-right: 3px

// Preloading Chart (home, reports)
@mixin preloading-chart
    width: 100%
    height: 429px
    margin-bottom: 35px
    background-color: $dashboard-card-bg
    box-shadow: 0 2px 4px 0 $dashboard-card-shadow
